    body { /*basic body CSS class*/
      font-family: arial, sans-serif;
      font-size: 14px;
    }

    .logo { /*Google Logo CSS class*/
      width: auto;
      padding-bottom: 13px;
      text-align: center;
    }

    .struct { /*Invisible Structures CSS class*/
      width: auto;
      padding-bottom: 200px;
      text-align: center;
    }

    .sbar { /*Search Bar CSS class*/
      width: 500px;
      height: 35px;
      border: 1px solid lightgray;
      border-radius: 8px;
      font-size: 18px;
      text-align: left;
    }

    .submit { /*Values based in google.com's submit button*/
      min-width: 54px;
      height: 36px;
      padding: 0 16px;
      border: 1px solid #f2f2f2;
      background-color: #f2f2f2;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      margin: 11px 4px;
      line-height: 27px;
      text-align: center;
      color: #5F6368;
      user-select: none;
    }
